<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn">
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= context.title %></title>
  <link rel="icon" href="<%= context.config.publicPath %>favicon.ico" type="image/x-icon">
  <script src="<%= context.config.publicPath %>third-party/polyfill.min.js"></script>
  <script src='<%= context.config.publicPath %>third-party/jquery.min.js'></script>
  <script src="<%= context.config.publicPath %>third-party/jquery.blockUI.min.js"></script>
</head>
<body style="background-color:#f0f2f5;">
  <div id="root"></div>
</body>
</html>
